PORT=YOUR_BACKEND_PORT_HERE
CLIENT_URL=https://your-api-url-here.com (vercel_url in my case)
MongoDBURI=mongodb+srv://admin:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority(Mongodb atlas url)
VITE_STRIPE_PUBLIC_KEY=sk_test_1234567890abcdef (secret key from your stripe account)
